body{
    font-family: 'Habibi', serif;
    background-image: url(Billeder/pasta-med-flanksteak-og-cherrytomater-2.jpg);

}


h1{
  font-family: 'Raleway', sans-serif;
}
h2,h3,h4{
    font-family: 'Imprima', sans-serif;
}
img:hover{
    opacity: 0.6;  
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  padding: 10px;
  border: 2px solid rgb(255, 255, 255, 0.8);
}

nav a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}


.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: minmax(150px, auto);
    gap: 10px;  
    padding: 10px;
}

.grid-item{
    background-color: bisque;
    text-align: center;
    padding: 10px;
}

.header{
    grid-column: 1 / -1;
    grid-row: 1;
    font-size: 20px;
    border: 2px solid rgb(255, 255, 255, 0.8);
    margin: 20px;
    padding: 10px;
    background-color: bisque;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
}
.start{
    grid-column: 1 / -1;
    grid-row: 2;
    font-size: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
    border: 2px solid rgb(255, 255, 255, 0.8);

}
.retten > img {
    max-width: 45%;
    height: auto;
    border: 4px dotted white;
    border-radius: 40%;
}


    
.ingredienser {
    grid-column: 1;
    grid-row: 3;
    font-size: 15px;
    border: 2px solid rgb(255, 255, 255, 0.8);
    text-align: justify;
    line-height: 2.3;
    margin-top: 3px;
}
.fremgangsmåde{
    grid-column: 2 / 4;
    grid-row: 3;
    font-size: 15px;
    border: 2px solid rgb(255, 255, 255, 0.8);
    line-height: 2.5;
    list-style-position: inside;
    text-align: justify;
    margin-top: 3px;

}

footer {
  background-color: bisque;
  padding: 10px;
  text-align: center;
  border: 2px solid rgb(255, 255, 255, 0.8);
  margin-left: 10px;
  margin-right: 10px;
}

.social-media {
  display: flex;
  justify-content: space-around;
  
}

.social-media a {
    display: inline-block;
}

.social-media img{
    width: 50px;
    height: 50px;
}
